#categories{
    display: flex;
    justify-content: space-around;

    padding-top: 70px;
    padding-bottom: 20px;

    
}

.categories__container{
    max-width: 1240px;
    width: 100%; height: auto;
}

.logo{
    width: 150px;
    height: 60px;
}

.categories__container ul:first-child{
    display: flex;
    justify-content: space-between;

    list-style: none;
    font-weight: bold;
}

nav{
    font-size: 18px;
}

.categories__search{
    display: flex;
    position: relative;

    justify-content: center;
}

.categories__search .search-icon{
    display: inline-block;

    background-image: url('../images/search.svg');
    width: 24px; height: 24px;

    margin-left: 15px;
}


.categories__search input{
    position: relative;

    outline: none;
    text-indent: 5px;

    width: 25%;

    border: none;
}

nav li{
    cursor: pointer;
}

nav ul{
    margin-bottom: 0;
    padding-right: 7%;
}

.categories__search ::before{
    content: "";
    position: absolute;
    
    left: 3%; top: 50%;
    width: 90px; height: 1px; 

    background-color: rgba(65, 65, 65, 0.130); 
    transform: translateY(-50%) rotate(130deg); 
}


.categories__search ::after{
    content: "";
    position: absolute;
    
    left: 70%; top: 50%;
    width: 90px; height: 1px; 

    background-color: rgba(65, 65, 65, 0.130); 
    transform: translateY(-50%) rotate(130deg); 
}