.white{
    color: white;
}

.blue{
    color:rgb(0, 162, 255) !important;
}

.f-14{
    font-size:14px;
}

.medium{
    font-weight: bolder;
}

.inline{
    display: inline-block;
}

.gray{
    color: gray;
}

.f-12{
    font-size: 12px;
}

.f-18{
    font-size: 18px;
}

.txt-decoration-none{
    text-decoration: none;
}

.black{
    color: black !important;
}

.horizontal-line{
    height: 1px; width: 100%;
    background-color:  rgba(128, 128, 128, 0.164);
}