.categories__list-module{
    display: flex; 
    justify-content: space-around;

    position: absolute;
    top: 100%; left: 0;

    z-index: 10;
    width: 100%; height: auto;
    
    background-color: white;


}

.categories__list-module::after{
    content: '';
    position: absolute;
    z-index: -1;

    top: 100%; left: 0;

    height: var(--dynamic-height, calc(99vh - 100%)); width: 100%;

    background-color: black;
    opacity: 0.4;
}

.categories__list-module li{
    cursor: pointer;
}


.categories__module-container{
    max-width: 1240px;
    width: 100%; height: auto;


    border-top: 1px solid rgba(65, 65, 65, 0.130);
    padding: 15px;
}

.categories__module-container > div:first-child div{
    border-right: 1px solid rgba(65, 65, 65, 0.130);
    font-size: 16px;

    flex: 1;
}

.categories__module-container > div:first-child div:last-child{
    border-right: none;
}

.categories__module-container > div:first-child div ul{
    list-style: none;
    font-weight: 700;

    font-weight: bold;
}

.categories__module-container > div:first-child div ul li{
    margin-bottom: 18px;
    line-height: 19px;
}

.categories__module-container > div:first-child div ul{
    padding-left: 15px;
    padding-bottom: 1px;
}