#newitems{
    display: flex;
    justify-content: space-around;    
}

.newitems__container{
    max-width: 1240px;
    width: 100%; height: auto;
}

.newitems__square{
   margin-top: 70px;

   height: auto; width: 100%;
   border: 1px solid rgba(128, 128, 128, 0.322); 
}

.newitems__header{
    padding-left: 15px;
    padding-top: 25px;

    margin-bottom: 25px;
}

.newitems__list-container{
    height: auto; width: 100%;

    padding: 15px;
}

.newitems__list-elem{
    border-right: 1px solid rgba(128, 128, 128, 0.164);


    margin-right: 15px; height: auto;
}

.newitems__list-elem:last-child{
    border: none;
}

.newitems__list-container div{
    flex-shrink: 1;
}

.newitems__img-container{
    padding: 0; margin: 0;
    width: 100%; height: 13vw;

    max-height: 170px;
    
    background-image: url('../images/nophoto.jpg');
    background-size: cover;
}

.newitems__title{
    box-sizing: border-box;
    padding-right: 25px;
}

.newitems__title span{
    display: inline-block;
    
    width: 100%; margin-top: 5px;


    text-align: justify;
    font-size: 14px; line-height: 1.3;
}


.newitems__elem-price_old{
    text-decoration: line-through;

    font-size: 18px; color: grey;
    font-weight: 700;

    line-height: 1;
}

.newitems__elem-price_new{
    font-size: 20px; color: black;
    font-weight: 700;

    line-height: 1;
}

.newitems__elem-price{
    margin-top: 10px;
}

.newitems__cart-icon{
    display: flex;
    justify-content: center; align-items: center;

    height: 45px; width: 45px;
    margin-top: 10px; margin-left: 20px;

    background-color: #0092d6;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 76% 100%, 0% 100%);
}

.newitems__cart-icon > img{
    height: 24px; width: 24px;
}

.newitems__discount{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d6ff7e;

    height: 25px; width: 80px;
    clip-path: polygon(5% 1%, 100% 0, 100% 100%, 19% 100%, 18% 30%);

    font-weight: 700;
    font-size: 11px
}

.newitems__discount_value{
    display: inline-block;

    margin-left: 5px;
}

.newitems__header ul{
    position: relative;

    gap: 30px; margin: 0;
    list-style-type: none;

    font-size: 14px;

    display: flex;
    align-self: center;
}

.newitems__header li{
    position: relative;
    color: #0092d6;
}

.newitems__header li:first-child{
    color: black;
}

.newitems__header li:hover{
    cursor: pointer;
}

.newitems__header ul li::before{
    content: "";
    position: absolute;
    
    left: -30px; top: 50%;
    width: 35px; height: 1px; 

    background-color: rgba(65, 65, 65, 0.233); 
    transform: translateY(-50%) rotate(120deg); 
}

.newitems__header ul li:first-child::before{
    content: none;
}

.newitems__header > h4{
    font-weight: 600;
   }