<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
    <head>
		
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta charset="UTF-8"/>

        <title>VeloMagazin | UA</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
        <!-- Styles -->
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/fonts.css}">
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/main.css}">

        <link rel = "stylesheet" type="text/css" th:href = "@{/css/header.css}">
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/banner.css}">
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/categories.css}">

        <link rel = "stylesheet" type="text/css" th:href = "@{/css/cart/cart.css}">
        
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/module.css}">
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/footer.css}">

        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/tablet.css}">
        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/vtablet.css}">
        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/small.css}">
    </head>

    <body>
		<div th:replace="~{share/header :: header}"></div>

		<div th:replace="~{share/categories :: categories}"></div>

        <section id = "cart">
            <div class = "cart__container"> 
            	<hr>
 				<div class = "cart__main"> 
 					<div class = "col-8">
 						<div class = "cart__main-container">
	 						<div class = "cart__header">
	 							<h2>КОШИК</h2>
	 							<span>УСЬОГО (1 товар) <b>10299,00 грн.</b></span>
	 						</div>
	 						
	 						<div class = "cart__info">
	 							<ul>
	 								<li>Безкоштовна доставка замовлень на суму від 2500 грн</li>
	 								<li>Доставка доступна по всій Україні службою "Нова Пошта"</li>
	 							</ul>
	 						</div>
	 						
	 						<div class = "cart__items-container"> 
	 							<div th:each="item : ${cart.cartItems}" class = "cart__item">
	 								<div class="col-4">
	 									<div class = "cart__item-img-container">
	 										<img th:src="@{/product/{id}/image(id=${item.id})}">
	 									</div>
	 								</div>
	 								<div class="col-8">
		 								<div class = "d-flex">
		 									<div class = "cart__item-info col-11">
		 										<div class = "cart__item-title">
		 											<div class = "col-9">
		 												<span th:text="${item.productName}" ></span>
		 											</div>
		 											
		 											<div class = "col-3 d-flex justify-content-end">
		 												<span th:text = "${item.price}"></span> грн.
		 											</div>
		 										</div>
		 										
		 										<div class = "cart__item-select">
		 											<label for="item-select"><b>Кількість:</b> <span th:text="${item.count}"></span></label> 
		 											<button>+</button> <button>-</button>
	 	 										</div>
		 									</div>
		 									<div class = "cart__item-controls col-1">
		 										<div class = "cart__control-close-container">
		 											<img th:src="@{/images/cart/close.png}"> 
		 										</div>
		 										<div class = "cart__control-heart-container">
		 											<img th:src="@{/images/cart/heart_black.png}">
		 										</div>
		 									</div>
		 								</div>
	 								</div>
	 							</div>
	 						</div>
	 						
	 						<button class = "cart__order-btn">
	 							<div class = "d-flex">
			 						<b>ОФОРМИТИ</b>
			 						<div class = "d-flex col justify-content-end">
				 						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										  <rect class="arrow-color" y="11" width="22" height="2" fill="inherit"></rect>
										  <rect class="arrow-color" x="18.4143" y="6.5" width="7.64242" height="2" transform="rotate(45 18.4143 6.5)" fill="inherit"></rect>
										  <rect class="arrow-color" x="23.8186" y="11.9142" width="7.64242" height="2" transform="rotate(135 23.8186 11.9142)" fill="inherit"></rect>
										</svg>
									</div>
								</div>
	 						</button>
 						</div>
 					</div>
 					
 					<div class = "col-4">
 						<div class = "cart__side-form">
							<button class = "cart__order-btn">
	 							<div class = "d-flex">
			 						<b>ОФОРМИТИ</b>
			 						<div class = "d-flex col justify-content-end">
				 						<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										  <rect class="arrow-color" y="11" width="22" height="2" fill="inherit"></rect>
										  <rect class="arrow-color" x="18.4143" y="6.5" width="7.64242" height="2" transform="rotate(45 18.4143 6.5)" fill="inherit"></rect>
										  <rect class="arrow-color" x="23.8186" y="11.9142" width="7.64242" height="2" transform="rotate(135 23.8186 11.9142)" fill="inherit"></rect>
										</svg>
									</div>
								</div>
	 						</button>
	 						
	 						
	 						<div class = "cart__side-message">
	 							<div class = "cart__message-container">
	 								<h5>ТВОЄ ЗАМОВЛЕННЯ</h5>
	 								<div class = "d-flex cart__message-details">
	 									<div class = "col-8">
	 										<span>1</span> ТОВАР
	 									</div>
	 									<div class = "col-4 d-flex justify-content-end">
	 										<span>4 998,00 грн.</span>
	 									</div>
	 								</div>
	 								<div class="d-flex cart__message-pdv">
	 									<div class="col-8">
	 										<span><b>УСЬОГО</b></span>
	 										<div>(включно з ПДВ)</div>
	 									</div>
	 									<div class="col-4 d-flex justify-content-end">
	 										<span><b>4 998,00 грн.</b></span>
	 									</div>
	 								</div>
	 							</div>
	 							
	 							<div class = "cart__help">
	 								<span>ПОТРІБНА ДОПОМОГА?</span>
	 								<a>Доставка</a>
	 								<a>Повернення</a>
	 								<a>Контакти</a>
	 							</div>
	 							
	 							<div class = "cart__payment">
	 								<span>МЕТОДИ ОПЛАТИ</span>
	 								<div class = "cart__methods">
	 									<div class = "cart__methods-container d-flex">
	 										<div> <img th:src="@{/images/cart/visa.png}"> </div>
	 										<div> <img th:src="@{/images/cart/ma_symbol.svg}"> </div>
	 										<div> <img th:src="@{/images/cart/cash.png}"> </div>
	 									</div>
	 								</div>
	 							</div>
	 						</div>
 						</div>
 					</div>
 				</div>
            </div>
        </section>

		<div th:replace="~{share/footer :: footer}"></div>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <script th:src="@{/js/scrollTracking.js}"></script>
        
        <script th:src="@{/js/menuShow_test.js}"></script> 
        <script th:src="@{/js/search.js}"></script>
    </body>
</html>