 <footer th:fragment="footer">
     <div class = "footer__container">
         <div class = "footer__content"> 
             <div>
                 <h6 >Каталог товарів</h6>
                 <ul class = "white">
                     <li>Самокати</li>
                     <li>Електрокомплектуючі</li>
                     <li>Аксесуари</li>
                     <li>Запчастини</li>
                 </ul>
             </div>

             <div>
                 <h6>Покупцеві</h6>
                 <ul class = "white">
                     <li>Гарантія</li>
                     <li>Доставка</li>
                     <li>Оплата</li>
                     <li>Новини</li>
                     <li>Акції</li>
                 </ul>
             </div>

             <div class = "pe-1 pe-md-0">
                 <h6>Компанія</h6>
                 <ul class = "white">
                     <li>Вакансії</li>
                     <li>Магазини</li>
                     <li>Про нас</li>
                     <li>Гуртовим покупцям</li>
                 </ul>
             </div>

             <div>
                 <div class = "footer__email-box d-flex">
                     <div class="footer__image-box"> <img th:src="@{/images/email.png}"> </div>
                     <span class="footer__info-text">velomagazininua@gmail.com</span>
                 </div>
                 
                 <div class = "footer__location-box d-flex">
                     <div class="footer__image-box"> <img th:src="@{/images/location.png}"> </div>
                     <span class="footer__info-text">Вулиця Виконкомівська, 79А, Дніпро, Дніпропетровська область, 49000</span>
                 </div>

                 <div class = "footer__social">
                     <img th:src="@{/images/instagram.png}">
                     <img th:src="@{/images/facebook.png}">
                     <img th:src="@{/images/youtube.png}"> 
                 </div>

             </div>
         </div>

         <span class = "footer__line"></span>
         <span class = "f-12 gray"> @ 2025 / Velomagazin велосипедний інтернет магазин, роздрібна та оптова торгівля</span>
     </div>
 </footer>