<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta charset="UTF-8"/>

        <title>VeloMagazin | UA</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
        <!-- Styles -->
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/fonts.css}">
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/main.css}">

        <link rel = "stylesheet" type="text/css" th:href = "@{/css/header.css}">
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/categories.css}">

        <link rel = "stylesheet" type="text/css" th:href = "@{/css/product/products.css}">

        <link rel = "stylesheet" type="text/css" th:href = "@{/css/footer.css}">



        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/tablet.css}">
        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/vtablet.css}">
        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/small.css}">
        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/screen-products.css}">
    
    </head>

    <body>
        <header>
            <div class = "header-container"> 
                <div class = "header-content"> 
                    <!--  Widescreen  -->
                    <div class = "header__menu d-none d-xl-flex">
                        <div class = "header__menu-divider"> 
                            <div><span class = "blue">UA</span></div>
                            <div>Оплата</div>
                            <div>Майстерня</div>
                            <div>Контакти</div>
                            <div>Про нас</div>
                        </div>

                        <div class = "blue f-14"><span class="medium f-18">+38 (067) 563 7858</span> (Зворотний зв'язок)</div>
                    
                        <div class="header__menu-divider header__menu-divider_w-20">
                            <div class = "d-flex">
                                <div>
                                    <img src="images/cart.svg" class="menu-elem"> <span class="menu-elem-value blue">0</span>
                                </div>
                                <div class = "px-4">
                                    <img src="images/heart.svg" class="menu-elem"> <span class = "menu-elem-value blue">0</span>
                                </div>
                            </div>
                            <div class = "blue menu-exit">Вхід</div>
                        </div>
                    </div>

                    <!-- Tablet screen 1200 -->
                    <div class = "header__menu-tablet">
                        <div class = "col-7 col-sm-8 col-md-4">
                            <div class="d-flex">
                                <div class="header__burger-btn d-flex">
                                    <div class="align-self-center">
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                <div class = "header__tablet-logo-container align-self-end">
                                    <a th:href="@{/home}">
                                        <span class = "logo"> </span>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="col">
                            <div class = "header__menu-tablet-icontainer">
                                
                                <div class = "categories__search burger align-self-center"> 
                                    <input placeholder="Знайти..">

                                    <span class = "search-icon"></span>
                                </div>

                                <div class = "ms-2 me-2 ms-md-3 me-md-3">
                                    <span class = "menu-burger-heart"> </span>

                                </div>
                                <div class="d-flex">
                                    <span class = "menu-burger-cart"> </span> 
                                    <span class="menu-elem-value blue">0</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <section id = "categories" class="d-none d-xl-flex"> 
            <div class = "categories__container">
                <div class="row align-items-center">
                    <div class="col-2 categories__logo-container">
                      <a th:href="@{/home}"> 
                        <img class = "logo" src="images/logo.png">
                      </a>

                    </div>
                    <div class = "col-7">
                        <nav>
                            <ul>
                                <li id = "bicycle">
                                    <span>Велосипеди</span>
                                </li>
                                <li id = "accessories">
                                    <span>Аксесуари</span>
                                </li>
                                <li id = "sparepart">
                                    <span>Запчастини</span>
                                </li>
                                <li id = "electro">
                                    <span>Електро</span>
                                </li>
                                <li id = "equipment">
                                    <span>Спорядження</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-3 align-self-center">
                        <div class = "categories__search"> 
                            <input placeholder="Знайти..">
                            <span class = "search-icon"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id = "products">
            <div class = "products__container">
                <div class="row">
                    <div class = "products__side col-5 col-md-3">
                        <div class = "products__panel">
                            <h4>Категорії</h4>
                            <ul>
                                <li>Біговели</li>
                                <li>Велосипеди BMX</li>
                                <li>Гірські велосипеди</li>
                                <li>Міські велосипеди</li>
                                <li>Двопідвіси</li>
                                <li>Дитячі велосипеди</li>
                                <li>Жіночі велосипеди</li>
                                <li>Кросові велосипеди</li>
                                <li>Підліткові велосипеди</li>
                                <li>Складані велосипеди</li>
                                <li>Фіксед</li>
                                <li>Шосейні велосипеди</li>
                                <li>Велосипеди Ranger</li>
                                <li>Аксесуари
                                    <ul>
                                        <li>Багажники</li>
                                        <li>Велотримачі</li>
                                        <li>Велокомп'ютери</li>
                                        <li>Замки</li>
                                        <li>Захист пера</li>
                                        <li>Дзвоники</li>
                                        <li>Інструменти</li>
                                        <li>Крила</li>
                                        <li>Насоси</li>
                                        <li>Підніжки</li>
                                        <li>Ріжки</li>
                                        <li>Сумки, чохли</li>
                                        <li>Фари, блималки</li>
                                        <li>Фляготримачі</li>
                                        <li>Фляги</li>
                                    </ul>
                                </li>
                                
                                
                                <li>Запчастини Comanche
                                    <ul>
                                        <li>Виноси</li>
                                        <li>Підсідельні штирі</li>
                                        <li>Рулі</li>
                                        <li>Крюки рами</li>
                                        <li>Ручки керма</li>
                                        <li>Сідла</li>
                                        <li>Гальмівні колодки</li>
                                    </ul>
                                </li>                                
                            </ul>
                        </div>
                    </div>

                    <div class="products__main col-7 col-md-9">
                        <div class = "products__list">
                            <div class="products__header">
                                <h4>Усі товари</h4>
                            </div>

                            <div class = "products__list-content">

                                <!-- ROW --> 
                                <div th:each="row: ${productGrid}" class="products__list-row">
                                   <!-- first elem --> 
                                    <div th:each="element: ${row.GetRowList}" class = "products__elem">
                                        <div class = "products__elem-img">
                                            <img src="images/products/comanche_backfire_29_s_pro_blackr.220x170.jpg" class = "products__img-container"> 
                                        </div>
                                        
                                        <div class = "products__elem-title">
                                            <span th:text="${element.productName}"></span>
                                        </div>

                                        <div>
                                            <div class = "products__elem-price">
                                                <div class="d-flex">
                                                    <div class="pt-1">
                                                        <span th:text="${element.price}"></span>
                                                    </div>
                                                    
                                                    <div class="d-flex ps-1">
                                                        <span class="align-self-start"> грн </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class = "products__elem-line"> </div>

                                            <div class = "products__btn-container"> 
                                                <button> 
                                                    <div class = "products__btn-content"> 
                                                        <div class = "cart-icon"></div>
                                                        <div>
                                                            <span>В кошик</span>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- FIRST ROW END --> 
                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class = "footer__container">
                <div class = "footer__content"> 
                    <div>
                        <h6 >Каталог товарів</h6>
                        <ul class = "white">
                            <li>Самокати</li>
                            <li>Електрокомплектуючі</li>
                            <li>Аксесуари</li>
                            <li>Запчастини</li>
                        </ul>
                    </div>

                    <div>
                        <h6>Покупцеві</h6>
                        <ul class = "white">
                            <li>Гарантія</li>
                            <li>Доставка</li>
                            <li>Оплата</li>
                            <li>Новини</li>
                            <li>Акції</li>
                        </ul>
                    </div>

                    <div class = "pe-1 pe-md-0">
                        <h6>Компанія</h6>
                        <ul class = "white">
                            <li>Вакансії</li>
                            <li>Магазини</li>
                            <li>Про нас</li>
                            <li>Гуртовим покупцям</li>
                        </ul>
                    </div>

                    <div>
                        <div class = "footer__email-box d-flex">
                            <div class="footer__image-box"> <img src="images/email.png"> </div>
                            <span class="footer__info-text">velomagazininua@gmail.com</span>
                        </div>
                        
                        <div class = "footer__location-box d-flex">
                            <div class="footer__image-box"> <img src="images/location.png"> </div>
                            <span class="footer__info-text">Вулиця Виконкомівська, 79А, Дніпро, Дніпропетровська область, 49000</span>
                        </div>

                        <div class = "footer__social">
                            <img src="images/instagram.png">
                            <img src="images/facebook.png">
                            <img src="images/youtube.png"> 
                        </div>

                    </div>
                </div>

                <span class = "footer__line"></span>
                <span class = "f-12 gray"> @ 2025 / Velomagazin велосипедний інтернет магазин, роздрібна та оптова торгівля</span>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <script th:src="@{/js/scrollTracking.js}"></script>
    </body>
</html>