<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta charset="UTF-8"/>

        <title>VeloMagazin | UA</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
        <!-- Styles -->
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/fonts.css}">
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/main.css}">

        <link rel = "stylesheet" type="text/css" th:href = "@{/css/header.css}">
        <link rel = "stylesheet" type="text/css" th:href = "@{/css/categories.css}">

        <link rel = "stylesheet" type="text/css" th:href = "@{/css/product/prod-info.css}">

		<link rel = "stylesheet" type="text/css" th:href = "@{/css/module.css}">

        <link rel = "stylesheet" type="text/css" th:href = "@{/css/footer.css}">



        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/tablet.css}">
        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/vtablet.css}">
        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/small.css}">
        <link rel = "stylesheet" type="text/css" th:href="@{/css/adaptation/screen-products.css}">
    
    </head>

    <body>
    
		<div th:replace="~{share/header :: header}"></div>
		
		<div th:replace="~{share/categories :: categories}"> </div>
	

        <section id = "prod-info">
            <div class = "prod-info__container">
                <div class="prod-info__navigation-title">
                    <span>
                        <span> <a th:href="@{/product}"> Усі товари </a> </span> / Велосипеди / <span th:text="${productInfo.name}"> </span>
                    </span>
                </div>
                <div class="row prod-info__info-block">
                    <h4><span th:text="${productInfo.name}"> </span></h4>
                    
                    <div class="prod-info__info-container"> 
                        <div class = "col-7">
                            <div class="prod-info__img-slot">
                                <img th:src = "@{/product/{id}/image(id=${productInfo.id})}" class="prod-info__img">
                            </div>
                        </div>
    
                        <div class="col-5 prod-info__panel">
                            
                            <div th:if="${#lists.size(productInfo.records) <= 10}">
                            
	                            <div> 
	                                <span>Код:</span> <span th:text=${productInfo.id}></span>  
	                            </div>
	                            
	                            <div class="prod-info__buy">
	                                <div>
	                                    <div class="prod-info__price">
	                                        <h4> <span th:text="${productInfo.price}"> </span> ₴</h4>
	                                    </div>
	
	                                    <div>
	                                        <a class="btn btn-primary" role="button" th:id="${productInfo.id}">
	                                            <span> Придбати </span>
	                                        </a>
	                                    </div>
	                                </div>
                               </div>
	
	                            <div class = "prod-info__subpanel">
	                                <span th:if="${#lists.size(productInfo.records) > 0}" class="bold prod-info-title">Характеристики</span>
	                            </div>
	
	                            <ul>
	                                <li th:each="row: ${productInfo.records}">
	                                    <table>
	                                        <tr>
	                                            <td class="w-60"><span class="color-gray" th:text="${row.key}"> </span></td>
	                                            <td><span class="blue-underlined" th:text="${row.value}"></span></td>
	                                        </tr>
	                                    </table>
	                                </li>
	                            </ul>

                            </div>
                            
                            <div th:if="${#lists.size(productInfo.records) > 10}">
                           		
                           		<div> 
	                                <span>Код:</span> <span th:text=${productInfo.id}></span>  
	                            </div>
	                            
	                            
	                            <div class="prod-info__buy">
	                                <div>
	                                    <div class="prod-info__price">
	                                        <h4> <span th:text="${productInfo.price}"> </span> ₴</h4>
	                                    </div>
	
	                                    <div>
	                                        <a class="btn btn-primary" role="button" th:id="${productInfo.id}">
	                                            <span>Придбати</span>
	                                        </a>
	                                    </div>
	                                </div>
                               </div>
	                            
	
	                            <div class = "prod-info__subpanel">
	                                <span class="bold prod-info-title">Характеристики</span>
	                            </div>
	
	                            <ul class = "prod-info__collapsed-list">
	                                <li th:each="row, stat: ${productInfo.records}" th:if="${stat.index < 10}">
	                                    <table>
	                                        <tr>
	                                            <td class="w-60"><span class="color-gray" th:text="${row.key}"> </span></td>
	                                            <td><span class="blue-underlined" th:text="${row.value}"></span></td>
	                                        </tr>
	                                    </table>
	                                </li>
	                            </ul>
	                            
	                            <div class="prod-info__detail">
                                    <div class="collapse" id="collapseInfo">
			                            <ul>
			                                <li th:each="row, stat: ${productInfo.records}" th:if="${stat.index >= 10}">
			                                    <table>
			                                        <tr>
			                                            <td class="w-60"><span class="color-gray" th:text="${row.key}"> </span></td>
			                                            <td><span class="blue-underlined" th:text="${row.value}"></span></td>
			                                        </tr>
			                                    </table>
			                                </li>
			                            </ul>
                                    </div>

                                    <a class="" data-bs-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="collapseInfo">
                                      Показати ще >
                                    </a>
                            	</div>
	                            
                            </div>
                            
                        </div>
                    </div>

                    <div class = "prod-info__description">
                    	<button> <span> Опис товару </span> </button>
                        <div class="row prod-info__text-container"> 
                            <p class="col-7" th:text="${productInfo.description}"></p>  
                        </div>


                    </div>
                </div>
            </div>
        </section>

		<div th:replace="~{share/footer :: footer}"></div>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <script th:src="@{/js/scrollTracking.js}"></script>
        <script th:src="@{/js/menuShow_test.js}"></script> 
		<script th:src="@{/js/search.js}"></script>
		<script th:src="@{/js/infoBtnHandler.js}"></script>
		<script th:src="@{/js/infoCartBtnHandler.js}"></script>
		
    </body>
</html>